<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @eeg.event %>
</p>

<p>
  <strong>Date:</strong>
  <%= @eeg.date %>
</p>

<%= link_to 'Edit', edit_eeg_path(@eeg) %> |
<%= link_to 'Back', eegs_path %>
