<p id="notice"><%= notice %></p>

<h1>Bienvenue sur l'onglet de gestion de vos alarmes!</h1>

<table>
  <thead>
    <tr>
      <th>Heures</th>
      <th>Minutes</th>
      <th>Lieu</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.heures %></td>
        <td><%= alert.minutes %></td>
        <td><%= alert.lieu %></td>
        <td><%= alert.active %></td>
        <td><%= link_to 'Edit', edit_alert_path(alert) %></td>
        <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Activer et regarder le temps qui reste', alert, method: :Rendre_active  %></td>
        <td><%= link_to 'fait-il-beau?', edit_alert_path(alert), method: :fait_il_beau  %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alert', new_alert_path %>

